
@font-face {
                          font-family: "Moon2.0-Bold";
                          src: url('../fonts/Moon2.0-Bold.otf') format("opentype");
                        }
                        
.bp1-desktophd {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(33, 33, 113, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-anima-animate-enter {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : bp1-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : bp1-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : bp1-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : bp1-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp1-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes bp1-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes bp1-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes bp1-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.bp1-anima-animate-enter1 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : bp1-anima-animate-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : bp1-anima-animate-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : bp1-anima-animate-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : bp1-anima-animate-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp1-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes bp1-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes bp1-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes bp1-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.bp1-desktophd .bp1-ignite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 304px;
  height              : 636px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-desktophd .bp1-fulllogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : 173px;
  width               : 132px;
  position            : absolute;
  margin              : 0;
  left                : 1282px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-desktophd .bp1-fulllogo .bp1-fulllogo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 173px;
  width               : 132px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-desktophd .bp1-navimumbaicampus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 56px;
  width               : 283px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-desktophd .bp1-events {
  background-color    : rgba(255,255,255,0.0);
  top                 : 272px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1299px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(135, 124, 228, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp1-desktophd .bp1-events:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(209,23,46,0.2);
}
.bp1-desktophd .bp1-about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 220px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1302px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(135, 124, 228, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp1-desktophd .bp1-about:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(209,23,46,0.4);
}
.bp1-desktophd .bp1-register {
  background-color    : rgba(255,255,255,0.0);
  top                 : 376px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1279px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(135, 124, 228, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp1-desktophd .bp1-register:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(209,23,46,0.2);
}
.bp1-desktophd .bp1-teaser {
  background-color    : rgba(255,255,255,0.0);
  top                 : 324px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1300px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(147, 135, 241, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp1-desktophd .bp1-teaser:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(209,23,46,0.2);
}
.bp1-desktophd .bp1-welcometo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 129px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Moon2.0-Bold", Helvetica, Arial, serif;
  font-size           : 200.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 200.0px;
}
.bp1-desktophd .bp1-welcometo .bp1-span1 {
  line-height         : 240.0px;
}
.bp1-desktophd .bp1-welcometo .bp1-span2 {
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  line-height         : 273.0px;
}
.bp1-desktophd .bp1-welcometo .bp1-span3 {
  line-height         : 240.0px;
}
.bp1-desktophd .bp1-welcometo .bp1-span4 {
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  line-height         : 273.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp4-mobileportrait {
  width               : 100%;
  min-width           : 320px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(43, 41, 41, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp4-anima-animate-enter {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp4-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : bp4-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : bp4-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : bp4-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp4-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp4-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp4-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp4-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp4-anima-animate-enter1 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp4-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  -moz-animation      : bp4-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  -o-animation        : bp4-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  animation           : bp4-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp4-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp4-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp4-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp4-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp4-mobileportrait .bp4-navimumbaicampus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 43px;
  width               : 216px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-mobileportrait .bp4-logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 325px);
  height              : 242px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : calc(50.00% - 73px);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-mobileportrait .bp4-logo .bp4-logo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 242px;
  width               : 146px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-mobileportrait .bp4-group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : 34px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 263px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-mobileportrait .bp4-group .bp4-rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 6px;
  box-sizing          : border-box;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-mobileportrait .bp4-group .bp4-rectanglecopy {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 28px;
  height              : 6px;
  box-sizing          : border-box;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-mobileportrait .bp4-group .bp4-rectanglecopy2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 14px;
  height              : 6px;
  box-sizing          : border-box;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp3-tabletportrait {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(43, 41, 41, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp3-anima-animate-enter {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp3-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : bp3-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : bp3-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : bp3-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp3-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp3-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp3-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp3-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp3-anima-animate-enter1 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp3-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  -moz-animation      : bp3-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  -o-animation        : bp3-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  animation           : bp3-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp3-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp3-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp3-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp3-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp3-tabletportrait .bp3-navimumbaicampus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 62px;
  width               : 311px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-tabletportrait .bp3-events {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 634px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp3-tabletportrait .bp3-events:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.bp3-tabletportrait .bp3-register {
  background-color    : rgba(255,255,255,0.0);
  top                 : 305px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 614px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp3-tabletportrait .bp3-register:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.bp3-tabletportrait .bp3-teaser {
  background-color    : rgba(255,255,255,0.0);
  top                 : 242px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 635px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp3-tabletportrait .bp3-teaser:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.bp3-tabletportrait .bp3-about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 117px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 640px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp3-tabletportrait .bp3-about:hover {
  transform           : scale(1.1), translate(-5px, 0);
}
.bp3-tabletportrait .bp3-logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 121px);
  height              : 242px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : calc(50.00% - 73px);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-tabletportrait .bp3-logo .bp3-logo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 242px;
  width               : 146px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp2-desktop {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(34, 34, 114, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-anima-animate-enter {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp2-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : bp2-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : bp2-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : bp2-anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp2-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp2-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp2-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp2-anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp2-anima-animate-enter1 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp2-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  -moz-animation      : bp2-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  -o-animation        : bp2-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  animation           : bp2-anima-animate-enter1-frames 0.600000023842s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp2-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp2-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp2-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp2-anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp2-desktop .bp2-navimumbaicampus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 74px;
  width               : 371px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-desktop .bp2-events {
  background-color    : rgba(255,255,255,0.0);
  top                 : 160px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 899px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp2-desktop .bp2-events:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.bp2-desktop .bp2-register {
  background-color    : rgba(255,255,255,0.0);
  top                 : 285px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 879px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp2-desktop .bp2-register:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.bp2-desktop .bp2-teaser {
  background-color    : rgba(255,255,255,0.0);
  top                 : 222px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 900px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp2-desktop .bp2-teaser:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.bp2-desktop .bp2-about {
  background-color    : rgba(255,255,255,0.0);
  flex-direction      : row;
  top                 : 97px;
  align-items         : center;
  height              : 27px;
  width               : 74px;
  justify-content     : center;
  position            : absolute;
  flex-wrap           : wrap;
  margin              : 0;
  display             : flex;
  left                : 906px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.bp2-desktop .bp2-about:hover {
  transform           : scale(1.1), translate(-5px, 0);
}
.bp2-desktop .bp2-logocopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 121px);
  height              : 242px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : calc(50.00% - 73px);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-desktop .bp2-logocopy .bp2-logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 242px;
  width               : 146px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@media screen and (max-width: 767px) {
  .bp4-mobileportrait {
    display             : block;
  }
  .bp3-tabletportrait {
    display             : none;
  }
  .bp2-desktop {
    display             : none;
  }
  .bp1-desktophd {
    display             : none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bp4-mobileportrait {
    display             : none;
  }
  .bp3-tabletportrait {
    display             : block;
  }
  .bp2-desktop {
    display             : none;
  }
  .bp1-desktophd {
    display             : none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .bp4-mobileportrait {
    display             : none;
  }
  .bp3-tabletportrait {
    display             : none;
  }
  .bp2-desktop {
    display             : block;
  }
  .bp1-desktophd {
    display             : none;
  }
}
@media screen and (min-width: 1440px) {
  .bp4-mobileportrait {
    display             : none;
  }
  .bp3-tabletportrait {
    display             : none;
  }
  .bp2-desktop {
    display             : none;
  }
  .bp1-desktophd {
    display             : block;
  }
}