
@font-face {
                          font-family: "Moon2.0-Bold";
                          src: url('../fonts/Moon2.0-Bold.otf') format("opentype");
                        }
                        
.desktophd {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(33, 33, 33, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter1 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : anima-animate-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.anima-animate-enter2 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : anima-animate-enter2-frames 0.600000023842s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter2-frames 0.600000023842s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter2-frames 0.600000023842s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter2-frames 0.600000023842s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.desktophd .events {
  background-color    : rgba(255,255,255,0.0);
  top                 : 110px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 588px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(135, 124, 228, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.desktophd .events:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(209,23,46,0.2);
}
.desktophd .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 110px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 439px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(85, 82, 104, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.desktophd .about:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(209,23,46,0.4);
}
.desktophd .register {
  background-color    : rgba(255,255,255,0.0);
  top                 : 110px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 731px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "AvenirNext-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(135, 124, 228, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.desktophd .register:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(209,23,46,0.2);
}
.desktophd .about1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Moon2.0-Bold", Helvetica, Arial, serif;
  font-size           : 200.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 240.0px;
}
.desktophd .logocopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 512px);
  height              : 202px;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : calc(50.00% - 683px);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .logocopy .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 202px;
  width               : 122px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}